* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Button  */
.navButton {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 40px;
    right: 2%;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.navButton__line {
    width: 100%;
    height: 3px;
    background-color: #3c3c3c;
    position: relative;
    /* transition: 0.5s; */
}

.navButton__line::before,
.navButton__line::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #3c3c3c;
    position: absolute;
    transition: 0.2s;
}

.navButton__line::before {
    top: -10px;
}

.navButton__line::after {
    top: 10px;
}

.navButton:hover .navButton__line::before {
    top: -12px;
}

.navButton:hover .navButton__line::after {
    top: 12px;
}

.navButton--active .navButton__line::before {
    transform: rotateZ(45deg);
    top: 0;
}

.navButton--active .navButton__line::after {
    transform: rotateZ(-45deg);
    top: 0;
}

.navButton--active:hover .navButton__line::before {
    transform: rotateZ(0);
    top: 0;
}

.navButton--active:hover .navButton__line::after {
    transform: rotateZ(0);
    top: 0;
}

.navButton--active .navButton__line {
    background-color: rgba(0,0,0,0);
}


/* Header */
.header {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c3c3c;
    padding: 0 5% 0 5%;
    transform: translateY(-600px);
    position: fixed;
    transition: 0.4s ease
    ;
}

.header--active {
    transform: translateY(0);
    transition: 0.4s ease;
}

.header__navBar {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header .icon-YorgansLogo {
    font-size: 45px;
}

.header__navBar a {
    text-transform: capitalize;
    font-size: 19px;
    padding: 5px 20px;
    transition: 0.5s;
    position: relative;
}

.header__navBar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #cfcbcb;
    transition: all 0.5s;
}

.header__navBar a:hover {
    color: #cfcbcb;
    transition: 0.5s;
}



.header__navBar a:hover::after{
    width: 100%;
   
}

/* Home page*/
main.homeMain {
    width: 100%;
    height: 100%;
}

.homeMain .section1 {
    height: 100vh;
    width: 100%;
    background-image: url(../img/backgroundImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section1__backgroundOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .icon-YorgansLogo {
    font-size: 125px;
    color: #fff;
}

/*  Section 2 */
.section2 {
    height: 100vh;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 p {
    width: 50%;
    max-width: 700px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

/* Products Section  */
.productSection {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.productSection__title {
    font-size: 50px;
    color: #3c3c3c;
}

.productSection__container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 40px;
    align-content: center;
    margin: 50px 0;
}

.productSection__item {
    /* width: 33%; */
    height: 300px;
    background-color: #3c3c3c;
    position: relative;
    overflow: hidden;  
    cursor: pointer; 
    text-align: center;
}

.productSection__item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.productSection__category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #3c3c3c71;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 34px;
    transition: 1s;
    transform: translateY(-300px);
    
}

.productSection__item:hover .productSection__category {
    transform: translateY(0);
}

.productSection button {
    border: none;
    background-color: black;
    color: #fff;
    padding: 12px 30px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.productSection button:hover {
    background-color: #3c3c3c;
}



/* About page  */

.aboutMain__section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 70px;
    color: #fff;
    background-color: #3c3c3c;
    font-weight: 300;
}

.aboutMain__section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
}


.aboutMain__section2 p {
    font-size: 22px;
    color: darkslategrey;
    text-align: center;
    
}

.about__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
}

.aboutMain__section2 .imgDiv {
    width: 350px;
    height: 500px;
    box-shadow: 10px 10px 10px #404040;
    overflow: hidden;
    margin: 50px 30px 0;
}

.aboutMain__section2 .imgDiv img {
    height: 100%;
    box-shadow: 10px 10px 10px #404040;
}

/* Footer  */
footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    background-color: #3c3c3c;
}

footer .poweredBy {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
}

.poweredBy img {
    height: 20px;
    margin-left: 10px;
}

.social a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

footer a:hover {
    transform: scale(1.2);
}

.social a:hover {
    transform: translateY(45deg);
    background-color: #404040;
    border-radius: 2px;
}


